<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<h1>Semaforo</h1>
		<form action="" method="POST">
			Rosso:
				<input type="number" name="rosso" placeholder="secondi">
			Giallo:
				<input type="number" name="giallo" placeholder="secondi">
			Verde:
				<input type="number" name="verde" placeholder="secondi">
			onOff:
				<input type="text" name="on_off" placeholder="scrivi on o off">
				
			<input type="submit" value="invio">
		</form>
	</div>	
    
</body>
</html>